<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
<link rel="stylesheet" href="http://bootsnipp.com/css/bootsnipp.css?ver=3dad078c6953f3a8a72bbfccae6365ae">

<div class="container">
    <div class="row">
        <div class="span12">
            <h3 class="alert alert-success">
                <strong>Error!</strong> Your payment was not successful this time.
            </h3>
        </div>
    </div>
</div>