<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
<link rel="stylesheet" href="http://bootsnipp.com/css/bootsnipp.css?ver=3dad078c6953f3a8a72bbfccae6365ae">

<div class="container">
    <div class="row">
        <div class="span12">
            <form class="form-horizontal span6" id="payment-form">
                <fieldset>
                    <legend>Payment</legend>

                    <div class="control-group">
                        <label class="control-label">Customer's Full Name</label>
                        <div class="controls">
                            <input type="text" class="input-block-level" pattern="\w+ \w+.*" title="Customer's Full Name" required name="customerFullName" id="customerFullName">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Price</label>
                        <div class="controls">
                            <input type="text" class="input-block-level" pattern="\w+ \w+.*" title="Price" required name="price" id="price">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Currency</label>
                        <div class="controls">
                            <select class="input-block-level" name="currency" id="currency" required>
                                <option>Select Currency</option>
                                <option value="USD">USD</option>
                                <option value="EUR">EUR</option>
                                <option value="THB">HKD</option>
                                <option value="HKD">HKD</option>
                                <option value="SGD">SGD</option>
                                <option value="AUD">AUD</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Card Holder's Name</label>
                        <div class="controls">
                            <input type="text" class="input-block-level" pattern="\w+ \w+.*" title="Fill the Card holder's name as printed in the card" required name="cardHolderName" id="cardHolderName">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Card Number</label>
                        <div class="controls">
                            <div class="row-fluid">
                                <div class="span3">
                                    <input type="text" class="input-block-level" autocomplete="off" maxlength="4" pattern="\d{4}" title="First four digits" required id="cardNumber1">
                                </div>
                                <div class="span3">
                                    <input type="text" class="input-block-level" autocomplete="off" maxlength="4" pattern="\d{4}" title="Second four digits" required id="cardNumber2">
                                </div>
                                <div class="span3">
                                    <input type="text" class="input-block-level" autocomplete="off" maxlength="4" pattern="\d{4}" title="Third four digits" required id="cardNumber3">
                                </div>
                                <div class="span3">
                                    <input type="text" class="input-block-level" autocomplete="off" maxlength="4" pattern="\d{4}" title="Fourth four digits" required id="cardNumber4">
                                </div>
                            </div>

                            <input type="hidden" name="cardNumber" id="cardNumber"/>

                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Card Expiry Date</label>
                        <div class="controls">
                            <div class="row-fluid">
                                <div class="span9">
                                    <select class="input-block-level" name="expiryMonth" id="expiryMonth" required>
                                        <option>Select Month</option>
                                <?php
                                    for ($i = 1; $i < 13; $i++) {
                                        $month = date('F', strtotime('01.' . $i . '.2014'));
                                ?>
                                        <option value="<?php echo $i;?>>"><?php echo $month;?></option>
                                <?php
                                    }
                                ?>
                                    </select>
                                </div>
                                <div class="span3">
                                    <select class="input-block-level" name="expiryYear" id="expiryYear">
                                        <option>Select Year</option>
                                <?php
                                    for ($i = 0; $i < 5; $i++) {
                                        $year = date('Y') + $i;
                                ?>
                                        <option value="<?php echo $year;?>>"><?php echo $year;?></option>
                                <?php
                                    }
                                ?>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Card CVV</label>
                        <div class="controls">
                            <div class="row-fluid">
                                <div class="span3">
                                    <input type="text" class="input-block-level" autocomplete="off" maxlength="3" pattern="\d{3}" title="Three digits at back of your card" required name="cardCCV" id="cardCCV">
                                </div>
                                <div class="span8">
                                    <!-- screenshot may be here -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn">Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://bootsnipp.com/js/scripts.min.js"></script>

<script type="text/javascript">
    $('#submit').on('click', function(){
        var section1 = $('#cardNumber1').val();
        var section2 = $('#cardNumber2').val();
        var section3 = $('#cardNumber3').val();
        var section4 = $('#cardNumber4').val();

        var cardNumber = '';

        if (section1 && section2 && section3 && section4) {
            cardNumber = section1 + section2 + section3 + section4;
        }

        $('#cardNumber').val(cardNumber);
    });

</script>

<script src="https://js.braintreegateway.com/v1/braintree.js"></script>
<script type="text/javascript">
    var braintree = Braintree.create("'MIIBCgKCAQEAru0pbtjPFkmCfYodSj4LXV6J6gxR1B6l/MCiXk0JmOlh0LtEZdzpOhgIXR97U0Hab5bYKx3Gr17Cv3NwoA1J3MmqF9Q1TmTU82+Y6Liprw8R5fTGXhDNV2q8AxC5CJ46JjetlQpKB+A4LSAvkE79Bely7UKQCZrXYd/8ZMkTW7bESE7lCSbnCiaoBbx+Z64ox993G4nN/KL6CbfgVPWsk1/OlrMPIIz/38zZNUmLc+KqZPnSI35Ia0y78JCVviB7+cK399EBeh5EofTxtI/sSShHwu27sR84Broii30ORipJxFSQp4be2aEmq16wjfiYsRkUnybR75y9kH4S2iIjSQIDAQAB");
    braintree.onSubmitEncryptForm('payment-form');
</script>